* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.post h1 {
    color: pink;
    font-family: Arial, Helvetica, sans-serif;
   text-align: left;
}
.post p{
    color: rgb(105, 105, 105);
    font-family: Arial, Helvetica, sans-serif;
   
    margin-top: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.header_contain {
    width: 70%;
    border: .3rem solid #ddd;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    padding: 3rem;
}

#cabecera{
    border: 1px solid blue;
    margin-bottom: 1rem;
    padding: 2rem;
}